form {
    background-color: #fff;
    padding: 40px;
    padding-top: 20px;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: black;
}

form input,form textarea, form select {
    width: 99%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: lightgrey;
}

form textarea{
    height: 100px;
}

form button {
    background-color: #405dac;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #4b40ac;
    
}