body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.seccion-carteles {
    display: flex;
    justify-content: center;  
    gap: 100px;
    flex-wrap: wrap; 
}

#principal{

    background-color: white;
    background-image: none;
}

header{

    background-color: black;

}

.infoCartel{

    color: black;
}
.cartel {
    background-color: rgba(184, 181, 181, 0.295);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.349);
    transition: transform 0.3s ease;
}

.cartel:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 10px  #08080891;
}

footer{
margin-top: 6%;

}

/*_______Adaptar Pantalla________*/

@media screen and (max-width: 481px) {
    /* Estilos para tablets y pantallas más pequeñas */
    
    .secSelct {
        height: 100%;
        width: 150;
    }
    .seccion-carteles {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1; 
    }
    .cartel {
        width: 200px;
        height: 200px;
      
    }
    .imagenEst{
        height: 125px;
        width: 200px;

    }
    .infoCartel{
    
        font-size: 10px;
    }

}

@media screen and (min-width: 481px) and (max-width: 669px) {
    /* Estilos para tablets y pantallas más pequeñas */
    
    .secSelct {
        height: 100%;
        width: 150;
    }
    .seccion-carteles {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex: 1; 
    }
    .cartel {
        width: 200px;
        height: 200px;
      
    }
    .imagenEst{
        height: 125px;
        width: 200px;

    }
    .infoCartel{
    
        font-size: 10px;
    }

}


@media screen and (min-width: 669px) and (max-width: 1180px) {
    /* Estilos para tablets y pantallas más pequeñas */
    
    .secSelct {
        height: 100%;
        width: 150;
    }
    .seccion-carteles {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex: 1; 
    }
    .cartel {
        width: 250px;
        height: 250px;
      
    }
    .imagenEst{
        height: 175px;
        width: 250px;

    }
    .infoCartel{
    
        font-size: 10px;
    }

}

