form {
    background-color: #fff;
    padding: 40px;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.664);
    max-width: 700px;
    margin: 0 auto;
}

form label {
    color: black;
    display: block;
    margin: 10px 0 5px;
}



form input,form textarea {
    width: 99%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: lightgrey;
}


form button {
    background-color: #405dac;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #4b40ac;
    
}
#principal{
    background-image: url(Imagenes/ski\ \(4\)\ \(1\).jpg);
    height: 800px;

}


footer{

    height: 155px;

}

#formCant{
    display: block;
    
    
}

/*_______Adaptar Pantalla________*/

@media screen and (max-width: 768px) {
    /* Estilos para tablets y pantallas más pequeñas */
    section{
        margin-right: 50px;
    }
   form{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
   }
   

}

@media screen and (min-width: 768px) {
    /* Estilos para tablets y pantallas más pequeñas */
   section{
    margin-right: 50px;
   }

}